<!DOCTYPE html>

<body>
  <!-- Footer -->
  <footer class="footer-main">
    <!-- Copyright -->
    <span class="text-muted">
      © 2018 Created by:
      <a href="https://www.instagram.com/pkddacoliat/" target="_blank">
        Patrick Kent Dacoliat
      </a>
    </span>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</body>
