<!-- Modal -->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle"></h5>
      </div>
      <div class="modal-body">Wanna play again?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="forfeitBtn">
          Forfeit
        </button>
        <button type="button" class="btn btn-primary" id="playAgainBtn">Play Again!</button>
      </div>
    </div>
  </div>
</div>
