<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Navigation Brand -->
  <a class="navbar-brand" href="/">
    <img
      src="/images/icon.min.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Hangman
  </a>

  <!-- Navbar Toggler -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Links to the right -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="/" id="game">Game</a>
      <a class="nav-item nav-link" href="#">Leaderboards</a>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="profileDropDown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="profileDropDown">
          <a class="dropdown-item" href="#" id="userProfile">Profile</a>
          <a class="dropdown-item" href="#" id="logout">Logout</a>
        </div>
      </li>
      <a class="nav-item nav-link" href="/login" id="login">Login</a>
    </div>
  </div>
</nav>
