<!-- User Profile -->
<div
  class="modal fade"
  id="profileModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="profileModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="profileModalTitle">Profile</h2>
      </div>
      <div class="modal-body" id="profileSection">
        <div class="row">
          <div class="col-6"><b>Games Played:</b>&nbsp;</div>
          <div class="col-2"><span id="totalGamesPlayedProfile">0</span></div>
        </div>
        <div class="row">
          <div class="col-6"><b>Games Won:</b>&nbsp;</div>
          <div class="col-2"><span id="gamesWonProfile">0</span></div>
        </div>
        <div class="row">
          <div class="col-6"><b>Games Lost:</b>&nbsp;</div>
          <div class="col-2"><span id="gamesLostProfile">0</span></div>
        </div>
        <div class="row">
          <div class="col-6"><b>Win Ratio:</b>&nbsp;</div>
          <div class="col-2"><span id="winRatioProfile">0</span></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
