body {
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}

.game-row .game-col {
  border: 0.1875rem solid #212529;
  padding: 1.25rem;
}

.placeholder {
  font-size: 50px;
}

#letterBtns .btn {
  margin: 2px;
}
