body {
  text-align: center;
  font-family: "Indie Flower", cursive;
}

#gameBox {
  border: 0.1875rem solid #212529;
  margin: 0 auto;
  width: 80%;
}

#stats {
  font-size: 1.25rem;
}

#letterBtns .btn {
  margin: 0.125rem;
}

#placeHolder {
  margin: 0;
  padding: 0;
  display: block;
}

#placeHolder ul {
  margin: 0;
  padding: 0;
}

#placeHolder li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 0.625rem;
  font-size: 3.125rem;
}
