<!DOCTYPE html>
<html lang="en">
  <% include ../partials/header %>

  <body>
    <% include ../partials/navigation %>
    <div class="container-wrapper">
      <div class="container">
        <!-- Instructions -->
        <!--
          <div class="row">
            <div class="col-md-12">
              Instructions:
              <p>
                Guess the word based on the category given. Enter your guesses by
                clicking on the virtual keyboard. You have 6 lives. Every wrong
                guesses reduces your remaining lives by 1. You win by guessing the
                word and you lose when your remaining lives becomes 0.
              </p>
            </div>
          </div>
        -->

        <!-- Gamebox -->
        <div class="row justify-content-center game-row mt-3">
          <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10 col-10 game-col">
            <img
              src="/images/1.min.png"
              class="img-fluid"
              alt="Hangman"
              width="400"
              height="400"
            />
          </div>
        </div>

        <!-- Stats and Category -->
        <div class="row justify-content-center">
          <div class="col-md-3 order-md-1 order-sm-2 order-2">Streak: 0</div>
          <div class="col-md-3 order-md-2 order-sm-1 order-1">
            Category: Sports
          </div>
          <div class="col-md-3 order-md-3 order-sm-3 order-3">Games Won: 0</div>
        </div>

        <!-- Placeholder -->
        <div class="row mt-2">
          <div class="col-md-12" id="placeHolder"></div>
        </div>

        <!-- Virtual Keyboard -->
        <div class="row justify-content-center letter-buttons mt-2">
          <div class="col-xl-6 col-lg-6 col-md-10" id="letterBtns"></div>
        </div>
      </div>
    </div>
    <% include ../partials/scripts %>
  </body>
</html>
