<!DOCTYPE html>
<html lang="en">
  <% include ../partials/header %>

  <body>
    <% include ../partials/navigation %>
    <div class="container-wrapper">
      <div class="container">
        <!-- Instructions -->
        <div class="row my-2" id="instructions">
          <div class="col-md-12">
            <a
              class="btn btn-light"
              data-toggle="collapse"
              href="#collapseInstructions"
              aria-expanded="true"
              aria-controls="collapseInstructions"
            >
              <b>Instructions:</b>
            </a>
            <div class="collapse show" id="collapseInstructions">
              <p>
                Guess the word based on the category given. Enter your guesses
                by clicking on the virtual keyboard. You have 6 lives. Every
                wrong guesses reduces your remaining lives by 1. You win by
                guessing the word and you lose when your remaining lives becomes
                0.
              </p>
            </div>
          </div>
        </div>

        <!-- Stats -->
        <div class="row justify-content-center" id="stats">
          <div class="col-md-3 order-md-1 order-sm-2 order-2" id="streak">
            <b>Streak:</b>&nbsp;<span class="streakCounter"></span>
          </div>
          <div class="col-md-3 order-md-2 order-sm-1 order-1" id="lives">
            <b>Lives:</b>&nbsp;<span class="livesCounter"></span>
          </div>
          <div class="col-md-3 order-md-3 order-sm-3 order-3" id="gamesWon">
            <b>Games Won:</b>&nbsp;<span class="gamesWonCounter"></span>
          </div>
        </div>

        <!-- Gamebox -->
        <div class="container" id="gameBox">
          <div class="row justify-content-md-center">
            <div class="col-md-8 my-4" id="category">
              <b>Category:</b>&nbsp;<span class="chosenCategory">Nothing</span>
            </div>

            <div class="col-md-8 my-5" id="playBtn">
              <button
                type="button"
                class="btn btn-dark"
                data-toggle="collapse"
                data-target="#collapseInstructions"
              >
                Play Game
              </button>
            </div>

            <div class="col-md-8 mb-4" id="hangmanImg">
              <img
                src="/images/1.min.png"
                class="img-fluid"
                alt="Hangman"
                width="300"
                height="300"
              />
            </div>
          </div>
        </div>

        <!-- Placeholder -->
        <div class="row justify-content-center mt-2">
          <div class="col-md-12 col-sm-12 col-12" id="placeHolder"></div>
        </div>

        <!-- Virtual Keyboard -->
        <div class="row justify-content-center letter-buttons mt-2 mb-5">
          <div class="col-xl-6 col-lg-6 col-md-10" id="letterBtns"></div>
        </div>
      </div>
      <!-- End of container -->
    </div>
    <!-- End of container-wrapper -->
    <% include ../partials/footer %> <% include ../partials/scripts %> <%
    include ../partials/modal.ejs %>
  </body>
</html>
