<!DOCTYPE html>
<html lang="en">
  <% include ../partials/header %>

  <body>
    <% include ../partials/navigation %>
    <div class="container-wrapper">
      <div class="container my-container">
        <div class="row my-row">
          <div class="col-md-12 my-col">Instructions</div>
        </div>
        <div class="row my-row"><div class="col-md-12 my-col">Game</div></div>
        <div class="row my-row">
          <div class="col-md-4 my-col">Streak</div>
          <div class="col-md-4 my-col">Category</div>
          <div class="col-md-4 my-col">Games Won</div>
        </div>
        <div class="row my-row"><div class="col-md-12 my-col">Word</div></div>
        <div class="row my-row">
          <div class="col-md-12 my-col">Keyboard</div>
        </div>
      </div>
    </div>
    <% include ../partials/scripts %>
  </body>
</html>
