<!DOCTYPE html>
<html lang="en">
  <% include ../partials/header %>

  <body>
    <% include ../partials/navigation %>
    <div class="container-wrapper">
      <div class="container">
        <!-- Instructions -->
        <div class="row mt-2">
          <div class="col-md-12">
            <b>Instructions:</b>
            <p>
              Guess the word based on the category given. Enter your guesses by
              clicking on the virtual keyboard. You have 6 lives. Every wrong
              guesses reduces your remaining lives by 1. You win by guessing the
              word and you lose when your remaining lives becomes 0.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <div class="row justify-content-center" id="stats">
          <div class="col-md-3 order-md-1 order-sm-2 order-2" id="streak"></div>
          <div class="col-md-3 order-md-2 order-sm-1 order-1" id="lives"></div>
          <div
            class="col-md-3 order-md-3 order-sm-3 order-3"
            id="gamesWon"
          ></div>
        </div>

        <!-- Gamebox -->
        <div class="row justify-content-center">
          <div class="container" id="gameBox">
            <div class="col-md-12 my-4" id="category"></div>
            <div class="col-xl-12 col-lg-8 col-md-6 col-sm-10 col-10 mb-4">
              <img
                src="/images/1.min.png"
                class="img-fluid"
                alt="Hangman"
                width="300"
                height="300"
              />
            </div>
          </div>
        </div>

        <!-- Placeholder -->
        <div class="row mt-2">
          <div class="col-md-12" id="placeHolder"></div>
        </div>

        <!-- Virtual Keyboard -->
        <div class="row justify-content-center letter-buttons mt-2 mb-5">
          <div class="col-xl-6 col-lg-6 col-md-10" id="letterBtns"></div>
        </div>
      </div>
      <!-- End of container -->
    </div>
    <!-- End of container-wrapper -->
    <% include ../partials/scripts %>
  </body>
</html>
