<!DOCTYPE html>
<html lang="en">
  <% include ../partials/header %>

  <body>
    <% include ../partials/navigation %>
    <!-- Login Form -->
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-8">
          <h3>Welcome to Hangman</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-8">
          <div class="form-group">
            <!-- <label for="email">Email</label> -->
            <input
              type="email"
              name="email"
              id="email"
              class="form-control"
              placeholder="Email..."
            />
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-8">
          <div class="form-group">
            <!-- <label for="password">Password</label> -->
            <input
              type="password"
              name="password"
              id="password"
              class="form-control"
              placeholder="Password..."
            />
          </div>
        </div>
      </div>

      <div class="row justify-content-center" id="confirmPasswordDiv">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-8">
          <div class="form-group">
            <!-- <label for="password">Password</label> -->
            <input
              type="password"
              name="confirmPassword"
              id="confirmPassword"
              class="form-control"
              placeholder="Confirm Password..."
            />
          </div>
        </div>
      </div>

      <div class="row justify-content-center" id="loginBtn">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-8">
          <button class="btn btn-primary btn-block" onclick="login()">
            Login
          </button>
        </div>
      </div>

      <div class="row justify-content-center" id="registerBtn">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-8">
          <button class="btn btn-primary btn-block" onclick="register()">Register</button>
        </div>
      </div>

      <div class="row justify-content-center mt-2" id="registerLink">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-8">
          <a href="#">Register</a>
        </div>
      </div>
    </div>
    <% include ../partials/footer %> <% include ../partials/scripts %> <%
    include ../partials/modal.ejs %>
  </body>
</html>
